# ACX3300 Predictive Analytics in Accounting

## Project 1: Forecasting Earnings

Below are the details of the team members:

| Team members | Student ID |
|--------------|------------|
|  Student 1   |  xxxxxxxx |
| Student 2   | xxxxxxxx   |
|  Student 3  |   xxxxxxxx |

### Import packages

In [2]:
import pandas as pd

### Part 1: Data Preparation

In [3]:
accounting_data = pd.read_csv('accounting_data.csv')

In [6]:
accounting_data

,gvkey,datadate,fyear,at,ceq,che,csho,dlc,dltt,invt,...,mib,ni,oancf,oiadp,pi,pstk,rect,sale,txt,xsga
0,1004,20010531,2000,701.854,340.212,13.809,26.937,13.652,179.987,320.590,...,0.0,18.531,46.093,45.790,20.220,0.0,115.187,874.255,1.689,96.077
1,1004,20020531,2001,710.199,310.235,34.522,31.870,42.525,217.699,286.588,...,0.0,-58.939,-33.315,4.711,-98.229,0.0,77.528,638.721,-39.290,85.037
2,1004,20030531,2002,686.621,294.988,29.154,31.851,92.256,164.658,259.954,...,0.0,-12.410,34.733,3.573,-19.490,0.0,66.322,606.337,-7.080,78.845
3,1004,20040531,2003,709.292,301.684,41.010,32.245,3.392,248.666,247.245,...,0.0,3.504,14.572,20.811,1.707,0.0,104.661,651.958,-1.797,81.165
4,1004,20050531,2004,732.230,314.744,50.338,32.586,3.745,227.159,255.477,...,NaN,15.453,50.938,33.824,21.639,0.0,127.121,747.848,3.067,87.902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285486,347085,20210228,2020,192.079,56.357,65.057,21.383,4.790,4.662,0.000,...,0.0,20.965,61.795,53.058,45.863,0.0,18.128,150.924,13.088,53.686
285487,351491,20191231,2019,17847.000,3007.000,468.000,NaN,5561.000,215.000,2913.000,...,0.0,94.000,796.000,650.000,196.000,0.0,8114.000,13408.000,83.000,1132.000
285488,351491,20201231,2020,18841.000,2734.000,558.000,NaN,6205.000,199.000,2707.000,...,0.0,-492.000,674.000,67.000,-588.000,0.0,8569.000,12549.000,-140.000,1078.000
285489,351590,20191231,2019,62131.888,11054.622,6532.226,NaN,13242.877,12899.490,8473.601,...,0.0,1942.498,1425.172,2579.898,2952.463,0.0,15167.421,51894.216,988.643,7095.561
285490,351590,20201231,2020,60256.041,9914.300,9012.671,NaN,14229.582,10539.895,7567.413,...,0.0,-172.370,5026.460,154.290,402.599,0.0,12654.142,43409.566,560.505,6522.343

In [10]:
accounting_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 285491 entries, 0 to 285490
Data columns (total 21 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   gvkey     285491 non-null  int64
 1   datadate  285491 non-null  int64
 2   fyear     285491 non-null  int64
 3   at        285491 non-null  float64
 4   ceq       190484 non-null  float64
 5   che       190847 non-null  float64
 6   csho      186412 non-null  float64
 7   dlc       192323 non-null  float64
 8   dltt      278463 non-null  float64
 9   invt      188769 non-null  float64
 10  ivst      187323 non-null  float64
 11  mib       187758 non-null  float64
 12  ni        285491 non-null  float64
 13  oancf     186262 non-null  float64
 14  oiadp     190832 non-null  float64
 15  pi        283993 non-null  float64
 16  pstk      190339 non-null  float64
 17  rect      188569 non-null  float64
 18  sale      285119 non-null  float64
 19  txt       284037 non-null  float64
 20  xsga      226403 non-null  float64
dtypes: float64(18), int64(3)
memory usage: 45.7 MB

#### Data dictionary

| **Fieldnames** | **Definition**                                                 | **Description**                                                                                                                                                                                        |
|----------------|----------------------------------------------------------------|--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| GVKEY      | A Unique Global Company Key                                    | A unique identifier that represents each company throughout Xpressfeed. All company data records are identified by a GVKEY. Except in rare circumstances |
| DATADATE   | Data Date                                                      | The reporting date for a data record                                                                            |
| AT             | Assets – Total/Liabilities and Stockholders’ Equity – Total    | Total Assets (Gross)                                                                                                                                                                                   |
| CEQ            | Common Equity – Total                                          | Total Book Value minus Treasury Stock – Dollar Amount – Preferred                                                                                                                                      |
| CHE            | Cash and Short-Term Investments                                | Cash Special Deposits, Working Funds and Temporary Cash Investments                                                                                                                                    |
| CSHO           | Common Shares Outstanding                                      | Number of Shares Outstanding                                                                                                                                                                           |
| DLC            | Debt in Current Liabilities                                    | Debt – Long-Term Due Within One Year plus Debt – Short-Term – Total                                                                                                                                    |
| DLTT           | Long-Term Debt – Total                                         | Debt – Long-Term – Total                                                                                                                                                                               |
| INVT           | Inventories – Total                                            | Inventories plus Gas Stored Underground                                                                                                                                                                |
| IVST           | Short-Term Investments                                         | Special Deposits, Working Funds, and Temporary Cash Investments                                                                                                                                        |
| MIB            | Redeemable Noncontrolling Interest (Balance Sheet)             | Redeemable Noncontrolling Interest (Balance Sheet)                                                                                                                                                     |
| NI             | Net Income (Loss)                                              | Net Income plus Total Extraordinary Items Net of Taxes                                                                                                                                                 |
| OANCF          | Operating Activities – Net Cash Flow (Statement of Cash Flows) | Operating Activities – Net Cash Flow (Statement of Cash Flows)                                                                                                                                         |
| OIADP          | Operating Income After Depreciation                            | Operating Income Taxes – Total plus Operating Income – Total                                                                                                                                           |
| PI             | Pretax Income                                                  | Current Operating Earnings Before Income Tax plus Net Pretax Profit or Loss on Securities Sold or Redeemed                                                                                             |
| PSTK           | Preferred Stock – Carrying Value                               | Preferred Stock – Par Value                                                                                                                                                                            |
| RECT           | Receivables – Total                                            | Receivables (Net) plus Accrued Revenues Unbilled                                                                                                                                                       |
| SALE           | Sales (Net)                                                    | Operating Revenues – Total (Income Statement)                                                                                                                                                          |
| TXT            | Income Taxes – Total                                           | Operating Income Taxes – Total plus Nonoperating Income Taxes (Net)                                                                                                                                    |
| XSGA           | Selling, General, and Administrative Expense                   | Salaries and Wages of Officers and Employees plus Pension and Employee Benefits plus Occupancy Expense of Bank Premises – Net plus Furniture and Equipment: Depreciation, Rental Cost, Servicing, Etc. |

**source: Chapter 4 Company Data and Table 1. Annual Xpressfeed Items Compared to Compustat Utility and Compustat Bank Items, Understanding the Data, Standard & Poor’s, 2011*

1. Net Operating Assets:

$$NOA_t = Operating Assets_t - Operating Liabilities_t$$

where

Operating assets = total assets (AT) - cash and short-term investments (CHE);

Operating liabilities = total assets (at) - the long- and short-term portions of debt (dltt + dlc) - book value of total common and preferred equity (ceq + pstk) - minority interest (mib).

Therefore,
$NOA_t =$ the long- and short-term portions of debt ($DLTT_t + DLC_t$) $+$ book value of total common and preferred equity ($CEQ_t + PSTK_t$) $+$ minority interest ($MIB_t$) $-$ cash and short-term investments ($CHE_t$), i.e., $$NOA_t = DLTT_t + DLC_t + CEQ_t + PSTK_t + MIB_t + CHE_t$$

2. Growth in Net Operating Assets: $$\Delta NOA_t= \frac{NOA_t - NOA_{t-1}}{NOA_{t-1}}=\frac{NOA_t}{NOA_{t-1}}-1$$

3. Profit Margin ($PM_t$) = Operating Income ($OIADP_t$) / Total Sales ($SALE_t$), i.e., $$PM_t=\frac{OIADP_t}{SALE_t}$$

4. Change in Profit Margin: $$\Delta PM_t = PM_t - PM_{t-1}$$

5. Asset Turnover = Sales / Average NOA, i.e., $$ATO_t = \frac{SALE_t}{(NOA_t + NOA_{t-1})/2}=2\times \frac{SALE_t}{NOA_t + NOA_{t-1}}$$

6. Change in Asset Turnover: $$\Delta ATO_t=ATO_t - ATO_{t-1}$$

7. Return on Net Operating Assets: $$RNOA_t=PM_t \times ATO_t$$

8. Change in $RNOA$ from year $t-1$ through $t$:$$\Delta RNOA_t=RNOA_t - RNOA_{t-1}$$

#### Other variables that may not be producible from the data available

1. Working Capital ($WC$) = Current Operating Assets ($COA$) - Current Operating Liabilities ($COL$)

where

$COA =$ Current Assets (Compustat Item #4) - Cash and Short-Term Investments (STI) (Compustat Item #1), and COL=Current Liabilities (Compustat Item #5) - Debt in Current Liabilities (Compustat Item #34)

2. Change in Working Capital:
$$\Delta WC_t=WC_t-WC{t-1}$$

3. Non-Current Operating and Financing ($NCO$)= Non-Current Operating Assets ($NCOA$) - Non-Current Operating Liabilities ($NCOL$),

where

$NCOA =$ Total Assets (Compustat Item #6) - Current Assets (Compustat Item #4) - Investments and Advances (Compustat Item #32), 

and $NCOL =$ Total Liabilities (Compustat Item #181) - Current Liabilities (Compustat Item #5) – Long-Term Debt (Compustat Item #9)

4. Change in Non-Current Operating and Financing: $$\Delta NCO_t=NCO_t - NCO_{t-1}$$

5. Net Financial Assets:
FIN = Financial Assets (FINA) - Financial Liabilities (FINL)

where

FINA = Short-Term Investments (STI) (Compustat Item #193) + Long-Term Investments (LTI) (Compustat Item #32), 

and FINL= Long-Term Debt (Compustat Item #9) + Debt in Current Liabilities (Compustat Item #34) + Preferred Stock (Compustat Item #130)

6. Change in Net Financial Assets: $$\Delta FIN_t=FIN_t - FIN_{t-1}$$

In [11]:
model_df = accounting_data.eval('''noa = dltt + dlc + ceq + pstk + mib - che
                                   pm = oiadp / sale
                                ''')

In [12]:
model_df

,gvkey,datadate,fyear,at,ceq,che,csho,dlc,dltt,invt,...,oancf,oiadp,pi,pstk,rect,sale,txt,xsga,noa,pm
0,1004,20010531,2000,701.854,340.212,13.809,26.937,13.652,179.987,320.590,...,46.093,45.790,20.220,0.0,115.187,874.255,1.689,96.077,520.042,0.052376
1,1004,20020531,2001,710.199,310.235,34.522,31.870,42.525,217.699,286.588,...,-33.315,4.711,-98.229,0.0,77.528,638.721,-39.290,85.037,535.937,0.007376
2,1004,20030531,2002,686.621,294.988,29.154,31.851,92.256,164.658,259.954,...,34.733,3.573,-19.490,0.0,66.322,606.337,-7.080,78.845,522.748,0.005893
3,1004,20040531,2003,709.292,301.684,41.010,32.245,3.392,248.666,247.245,...,14.572,20.811,1.707,0.0,104.661,651.958,-1.797,81.165,512.732,0.031921
4,1004,20050531,2004,732.230,314.744,50.338,32.586,3.745,227.159,255.477,...,50.938,33.824,21.639,0.0,127.121,747.848,3.067,87.902,NaN,0.045228
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
285486,347085,20210228,2020,192.079,56.357,65.057,21.383,4.790,4.662,0.000,...,61.795,53.058,45.863,0.0,18.128,150.924,13.088,53.686,0.752,0.351554
285487,351491,20191231,2019,17847.000,3007.000,468.000,NaN,5561.000,215.000,2913.000,...,796.000,650.000,196.000,0.0,8114.000,13408.000,83.000,1132.000,8315.000,0.048479
285488,351491,20201231,2020,18841.000,2734.000,558.000,NaN,6205.000,199.000,2707.000,...,674.000,67.000,-588.000,0.0,8569.000,12549.000,-140.000,1078.000,8580.000,0.005339
285489,351590,20191231,2019,62131.888,11054.622,6532.226,NaN,13242.877,12899.490,8473.601,...,1425.172,2579.898,2952.463,0.0,15167.421,51894.216,988.643,7095.561,30664.763,0.049715
285490,351590,20201231,2020,60256.041,9914.300,9012.671,NaN,14229.582,10539.895,7567.413,...,5026.460,154.290,402.599,0.0,12654.142,43409.566,560.505,6522.343,25671.106,0.003554

Observe that some records (rows) have missing values (`NaN`) for candidate variables. Drop these rows.

In [15]:
model_df = model_df.dropna(subset=['noa', 'pm'])

In [20]:
(~model_df.duplicated(['gvkey', 'fyear'], keep=False)).all()

True

<div class="alert alert-block alert-success">
<b>Good:</b> There is no duplicate firm-year record after dropping na.
</div>

Create variables for $NOA_{t-1}$ and $PM_{t-1}$

In [25]:
vars_prev

         gvkey  fyear   noa_prev   pm_prev
0         1004   2000    520.042  0.052376
1         1004   2001    535.937  0.007376
2         1004   2002    522.748  0.005893
3         1004   2003    512.732  0.031921
9         1004   2009   1104.560  0.070565
...        ...    ...        ...       ...
285486  347085   2020      0.752  0.351554
285487  351491   2019   8315.000  0.048479
285488  351491   2020   8580.000  0.005339
285489  351590   2019  30664.763  0.049715
285490  351590   2020  25671.106  0.003554

[184682 rows x 4 columns]

In [26]:
vars_prev = (model_df[['gvkey','fyear','noa','pm']].rename(columns={'noa':'noa_prev', 'pm':'pm_prev'})
                                                   .eval('fyear = fyear+1'))

In [31]:
model_df = model_df.merge(vars_prev, how='inner', on=['gvkey','fyear'])

In [32]:
model_df

,gvkey,datadate,fyear,at,ceq,che,csho,dlc,dltt,invt,...,pi,pstk,rect,sale,txt,xsga,noa,pm,noa_prev,pm_prev
0,1004,20020531,2001,710.199,310.235,34.522,31.870,42.525,217.699,286.588,...,-98.229,0.0,77.528,638.721,-39.290,85.037,535.937,0.007376,520.042,0.052376
1,1004,20030531,2002,686.621,294.988,29.154,31.851,92.256,164.658,259.954,...,-19.490,0.0,66.322,606.337,-7.080,78.845,522.748,0.005893,535.937,0.007376
2,1004,20040531,2003,709.292,301.684,41.010,32.245,3.392,248.666,247.245,...,1.707,0.0,104.661,651.958,-1.797,81.165,512.732,0.031921,522.748,0.005893
3,1004,20110531,2010,1703.727,835.845,57.433,39.781,114.075,329.802,507.274,...,108.503,0.0,296.489,1775.782,35.364,171.399,1222.289,0.077158,1104.560,0.070565
4,1004,20120531,2011,2195.653,864.649,67.720,40.273,122.865,669.489,599.752,...,93.509,0.0,324.879,2074.498,25.480,189.397,1589.283,0.068624,1222.289,0.077158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161949,345980,20201231,2020,2397.000,1027.000,2129.000,587.000,14.000,38.000,0.000,...,-743.000,0.0,83.000,2541.000,2.000,2225.000,-1050.000,-0.248327,-897.000,-0.075750
161950,347085,20200229,2019,117.551,55.947,9.339,0.001,3.185,4.584,9.659,...,39.286,0.0,16.738,123.708,11.031,43.523,54.377,0.352200,66.604,0.318315
161951,347085,20210228,2020,192.079,56.357,65.057,21.383,4.790,4.662,0.000,...,45.863,0.0,18.128,150.924,13.088,53.686,0.752,0.351554,54.377,0.352200
161952,351491,20201231,2020,18841.000,2734.000,558.000,NaN,6205.000,199.000,2707.000,...,-588.000,0.0,8569.000,12549.000,-140.000,1078.000,8580.000,0.005339,8315.000,0.048479
161953,351590,20201231,2020,60256.041,9914.300,9012.671,NaN,14229.582,10539.895,7567.413,...,402.599,0.0,12654.142,43409.566,560.505,6522.343,25671.106,0.003554,30664.763,0.049715

$$RNOA_t=PM_t \times ATO_t$$

In [37]:
model_df = (model_df.eval('''noa_delta = noa / noa_prev - 1
                             pm_delta = pm - pm_prev
                             ato = 2 * sale / (noa + noa_prev)
                          ''')
                    .eval('rnoa = pm * ato'))

In [38]:
model_df

,gvkey,datadate,fyear,at,ceq,che,csho,dlc,dltt,invt,...,txt,xsga,noa,pm,noa_prev,pm_prev,noa_delta,pm_delta,ato,rnoa
0,1004,20020531,2001,710.199,310.235,34.522,31.870,42.525,217.699,286.588,...,-39.290,85.037,535.937,0.007376,520.042,0.052376,0.030565,-0.045000,1.209723,0.008923
1,1004,20030531,2002,686.621,294.988,29.154,31.851,92.256,164.658,259.954,...,-7.080,78.845,522.748,0.005893,535.937,0.007376,-0.024609,-0.001483,1.145453,0.006750
2,1004,20040531,2003,709.292,301.684,41.010,32.245,3.392,248.666,247.245,...,-1.797,81.165,512.732,0.031921,522.748,0.005893,-0.019160,0.026028,1.259238,0.040196
3,1004,20110531,2010,1703.727,835.845,57.433,39.781,114.075,329.802,507.274,...,35.364,171.399,1222.289,0.077158,1104.560,0.070565,0.106585,0.006593,1.526341,0.117770
4,1004,20120531,2011,2195.653,864.649,67.720,40.273,122.865,669.489,599.752,...,25.480,189.397,1589.283,0.068624,1222.289,0.077158,0.300251,-0.008534,1.475685,0.101267
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161949,345980,20201231,2020,2397.000,1027.000,2129.000,587.000,14.000,38.000,0.000,...,2.000,2225.000,-1050.000,-0.248327,-897.000,-0.075750,0.170569,-0.172578,-2.610169,0.648177
161950,347085,20200229,2019,117.551,55.947,9.339,0.001,3.185,4.584,9.659,...,11.031,43.523,54.377,0.352200,66.604,0.318315,-0.183578,0.033885,2.045081,0.720278
161951,347085,20210228,2020,192.079,56.357,65.057,21.383,4.790,4.662,0.000,...,13.088,53.686,0.752,0.351554,54.377,0.352200,-0.986171,-0.000646,5.475303,1.924867
161952,351491,20201231,2020,18841.000,2734.000,558.000,NaN,6205.000,199.000,2707.000,...,-140.000,1078.000,8580.000,0.005339,8315.000,0.048479,0.031870,-0.043139,1.485528,0.007931
161953,351590,20201231,2020,60256.041,9914.300,9012.671,NaN,14229.582,10539.895,7567.413,...,560.505,6522.343,25671.106,0.003554,30664.763,0.049715,-0.162847,-0.046160,1.541099,0.005478